

body {
    background-image: url("../images/backgroundImage.jpg");
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    font-size: 75px;
}

#main-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30px;
}

#places-input {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#submit-button {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

#where-you-are-eating {
    display: none;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 50px;
}

#random-option {
    text-align: center;
}